<div class="input-wrapper">
  <label for={{id}}>{{label}}</label>
  <input 
    type={{type}} 
    name={{name}} 
    id={{id}} 
    {{#if required}}required{{/if}}
    {{!-- required="{{#if required}}{{required}}{{else}}false{{/if}}" --}}
  >
</div>
