<main class="chat-wrapper">
  <div class="sidebar-chat">
    <div class="sidebar-header">
      {{{buttonLinkToProfile}}}
      {{{searchBar}}}
    </div>
    <div class="chats-list">
      {{{chatitem}}}
    </div>
    {{{buttonCreateChat}}}
  </div>
  <div class="chat-window-wrapper">
    <div>
      <img src="/astronaut.svg" alt="" style="width: 100px">
      <span>Выберите чат</span>
    </div>
  </div>
  {{{createChat}}}
</main>
