<main>
<div class="centering-wrapper">
  <div class="block">
  <h1>Профиль</h1>
  <div class="form-wrapper">
    <form>
      {{{inputFile}}}
      {{{inputFirstName}}}
      {{{inputLastName}}}
      {{{inputLogin}}}
      {{{inputEmail}}}
      {{{inputPhone}}}
      {{{inputPassword}}}
      {{{inputConfirmPassword}}}
      {{{buttonSubmit}}}
      {{{buttonPassword}}}
      <a href="/logout">Выйти</a>
    </form>
  </div>
  </div>
  </div>
</main>
