<main>
{{{buttonLinkMessenger}}}
<div class="centering-wrapper">
  <div class="block">
  <h1>Профиль</h1>
  <div class="form-wrapper">
    <form id="form-profile">
      <label for="avatar">
        <img src="/change-avatar.svg" alt="">
      </label>
      <input id="avatar" name="avatar" accept="image/*" type="file" />
      {{{inputFile}}}
      {{{inputFirstName}}}
      {{{inputLastName}}}
      {{{inputLogin}}}
      {{{inputEmail}}}
      {{{inputPhone}}}
      {{{inputPassword}}}
      {{{inputConfirmPassword}}}
      {{{buttonSubmit}}}
      {{{buttonPassword}}}
      {{{buttonLogout}}}
    </form>
  </div>
  </div>
  </div>
</main>
