<div class="chat-window">
  <div class="chat-window-header">
    <span>{{name}}</span>
    {{{buttonOpenMenu}}}
    {{{buttonCloseMenu}}}
    {{{popUpMenu}}}
  </div>
  <div class="messages-wrapper">
    {{#each messages}}
      <div class="msg {{#if (checkUser this.author)}}user-msg{{else}}other-user-msg{{/if}}">
        {{this.text}}
        {{this.timeStamp}}
      </div>
    {{/each}}
  </div>
  <form action="" class="form-message">
    <input type="text" name="message" placeholder="Message..." class="input-message" />
    {{{buttonSendMessage}}}
  </form>
{{{addUser}}}
{{{removeUser}}}
{{{deleteChat}}}
</div>
