<div class="chat-window">
  <div class="chat-window-header">
    <span>{{title}}</span>
    {{{buttonOpenMenu}}}
    {{{buttonCloseMenu}}}
    {{{popUpMenu}}}
  </div>
  <div class="messages-wrapper">
    {{#each messages}}
      <div class="msg {{#if (checkUser this.user_id)}}user-msg{{else}}other-user-msg{{/if}}">
        {{this.content}}
        <div class="msg-time">
          {{transformDateToLocal this.time}}
        </div>
      </div>
    {{/each}}
  </div>
  <form action="" id="form-message">
    <input type="text" name="message" placeholder="Message..." class="input-message" />
    {{{buttonSendMessage}}}
  </form>
{{{addUser}}}
{{{removeUser}}}
{{{deleteChat}}}
</div>
