<main>
{{{buttonLinkProfile}}}
<div class="centering-wrapper">
  <div class="block">
  <h1>Изменение пароля</h1>
  <div class="form-wrapper">
    <form id="form-change-password">
      {{{inputOldPassword}}}
      {{{inputPassword}}}
      {{{inputConfirmPassword}}}
      {{{buttonSubmit}}}
    </form>
  </div>
  </div>
  </div>
</main>
