<main>
<div class="centering-wrapper">
  <div class="block">
  <h1>Регистрация в КосмоЧат</h1>
  <div class="form-wrapper">
    <form id="form-signup">
      {{{inputFirstName}}}
      {{{inputLastName}}}
      {{{inputLogin}}}
      {{{inputEmail}}}
      {{{inputPhone}}}
      {{{inputPassword}}}
      {{{inputConfirmPassword}}}
      {{{button}}}
      {{{buttonLink}}}
    </form>
  </div>
  </div>
</div>
</main>
